.logo {
  width: 11rem;
  height: 3rem;
}
.checks {
  display: inline-flex;
}
.amazeButton {
  background-color: #d30562;
  color: white;
}

.amazeCheck {
  background-color: white;
}
.amazeCheck:checked {
  background-color: #dc0464;
  border-color: white;
}
@media screen and (max-width: 480px) {
  .logo {
    width: 9rem;
    height: 2rem;
  }
  .checks {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    margin-bottom: 1rem;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;

  background-size: 100%, 100%;

  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 60px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 60px;
  color: grey;
}
